.vscode
build
.github
lib/*.js.map
lib/*.js
lib/test
!lib/*.min.js
node_modules
src
typings_patches
.gitignore
.npmignore
tsconfig.json
tsfmt.json
.editorconfig
.esbuild.config.js
.eslintrc.json
.eslintignore
*.test.ts