.vscode
build
.github
node_modules
src
typings_patches
.gitignore
.npmignore
tsconfig.json
tsfmt.json
.editorconfig
.esbuild.config.js
.eslintrc.json
.eslintignore
*.map
*.tgz
*.test.ts
dist/test
injectVersion.js
*.proposed.*.d.ts
